logs/
npm-debug.log
yarn-error.log
node_modules/
package-lock.json
yarn.lock
coverage/
dist/
.idea/
run/
*.sw*
*.un~
.tsbuildinfo
.tsbuildinfo.*
.project
unpackage/
.DS_Store
*/.DS_Store
wxcomponents/**/*.vue
wxcomponents/**/*.css
.hbuilderx/